<?xml version="1.0" encoding="UTF-8"?>

 <beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	 xmlns:context="http://www.springframework.org/schema/context"  
	xmlns:tx="http://www.springframework.org/schema/tx"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
     http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
     http://www.springframework.org/schema/context  
     http://www.springframework.org/schema/context/spring-context-2.5.xsd  
     http://www.springframework.org/schema/tx  
     http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">  
	<context:annotation-config/>	 
	  
	<bean id="exampleServiceConfig" class="net.zbus.WorkerPoolConfig">
		<property name="brokers">
			<list>
				<value>${zbus.broker.1}</value>
				<value>${zbus.broker.2}</value>
			</list>
		</property>
		<property name="registerToken" value="${zbus.token.regist}" />
		<property name="accessToken" value="${zbus.token.access}" />
		<property name="verbose" value="${zbus.verbose}" />
		<property name="service" value="${zbus.service}" />
	</bean>
		
</beans>